Django>=4.2,<5.0
psycopg2-binary>=2.9,<3.0
python-dotenv>=1.0,<2.0 # For managing environment variables like DB connection
django-bootstrap-v5>=2.0,<3.0 # Bootstrap 5 integration
dj-database-url>=1.2,<2.0 # database URL parsing