{% extends 'taxi_rental_app/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Register as Client{% endblock %}

{% block content %}
<h2>Register New Client Account</h2>
<p>Please fill out the details below. You need to provide at least one address and one credit card.</p>

<form method="post">
    {% csrf_token %}

    <fieldset class="mb-4 p-3 border rounded">
        <legend class="w-auto px-2">Account Information</legend>
        {% bootstrap_form client_form layout='horizontal' %}
    </fieldset>

    <fieldset class="mb-4 p-3 border rounded">
        <legend class="w-auto px-2">Primary Address</legend>
         {% bootstrap_form address_form layout='horizontal' %}
         <small class="form-text text-muted">You can add more addresses later (feature not implemented in demo).</small>
    </fieldset>

    <fieldset class="mb-4 p-3 border rounded">
        <legend class="w-auto px-2">Primary Credit Card</legend>
        {# Render card number field explicitly #}
        {% bootstrap_field cc_form.card_number layout='horizontal' %}
    
        {# Hide the payment address field during initial registration #}
        {# {% bootstrap_field cc_form.payment_addr layout='horizontal' %} #}
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Payment Address</label>
            <div class="col-sm-10">
                <p class="form-control-plaintext">Will use the 'Primary Address' entered above.</p>
            </div>
        </div>
    
        <small class="form-text text-muted">You can add more cards with different addresses later (feature not implemented in demo).</small>
    </fieldset>


    <div class="mt-3">
        {% bootstrap_button button_type="submit" content="Register Account" %}
        <a href="{% url 'taxi_rental_app:index' %}" class="btn btn-secondary">Cancel</a>
    </div>
</form>
{% endblock %}